.idea/
.vscode/

.dart_tool/
.packages
build/
pubspec.lock
.env*
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
.flutter-plugins
.flutter-plugins-dependencies
__pycache__/
*.py[codz]
*$py.class
.Python
develop-eggs/
dist/
MANIFEST
instance/
.webassets-cache
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/backend/database.db
/backend/main/database.db
